.top-container{
  display: flex;
  justify-content:space-between;
  margin: 0 33px;
  margin-top: 32px;
}
.top-left{
  width: 196px;
  height: 15px;
  font-family: 'Poppins';
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  color: #000000;
}
.top-right{
  width: 141px;
  height: 14px;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  color: #707070;
  margin-top: 16px;
}
.middle-container{
  margin: 0 33px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.middle-left-container{
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#middle-left-head{
  width: 88px;
  height: 44px;
  font-family: 'Poppins';
  font-size: 29px;
  font-weight: 500;
  line-height: 43.5px;
  text-align: left;
}
#middle-right-head{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 44px;
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  color:#707070;
}
#middle-right-head img{
  margin-right: 3px;
  height: 16px;
  width: 16px;
}
.middle-right-container{
 margin-right: 6px;
 font-family: 'Poppins';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
}

.bottom-container{
  margin-top: 20px;
  margin-left: 33px;
  margin-bottom: 44px;

  background-color:blue;
  width: 1,512px;
  height: fit-content;

}

